@charset "UTF-8";
/* CSS Document */

* {
	font-family: "Jost", "M PLUS 1p", sans-serif;
	font-weight: 300;
	color: #707070;
}
html {
    min-height: 100%;
    position: relative;
}
body {
	background: #fff;
    margin-bottom: 10%;
    display: none;
}
h2 {
    font-size: 3.5em;
    font-weight: 200;
    letter-spacing: 0.07em;
    margin-bottom: 1.5em;
}
a {
	color: #707070;
	transition-duration: 0.5s;
    text-decoration: underline;
    
}
a:hover {
	color: #0081e0;
    text-decoration: underline;
}
button {
    padding: 3px 6% 0;
    border-radius: 30px;
	border: 1px solid;
	background: rgba(0,0,0,0);
	letter-spacing: 0.07em;
	transition-duration: 0.5s;
}
button:hover {
	border: 1px solid #006AB8;
	background: #006AB8;
	color:  #F4F4F5;
}

main {
	max-width: 900px;
    margin: 0 auto 17em;
    text-align: center;
}

img {
    width: 50%;
}
.txt-attention {
    color: #FF0000;
}
.side-l {
    position: fixed;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: auto;
    left: 1em;
    top: 0;
    bottom: 0;
    transform-origin: 10px 10px;
    text-align: center;
}
.side-r {
    position: fixed;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: auto;
    right: 1em;
    top: 0;
    bottom: 0;
    transform-origin: 10px 10px;
    text-align: center;
} 


/* -----------------------------------------------
   header
----------------------------------------------- */
header {
	display: flex;
	margin: 0 5%;
	height: 100px;
}

header h1 svg {
	position: absolute;
	top: 20px;
	left: 0.75em;
	fill: #707070;
	width: 160px;
	transition-duration: 0.5s;
}
header h1 svg:hover {
	fill: #006AB8;
}


/* -----------------------------------------------
   grobal-nav
----------------------------------------------- */
nav ul {
	position: absolute;
	top: 20px;
	right: 1em;
	display: flex;
	flex-direction: row-reverse;
}
nav li {
	margin-left: 15%;
}
nav li a {
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    text-decoration: none;
}
nav li a:hover {
    text-decoration: none;
}
nav li a::before {
    content: "";
    position: absolute;
    width: 0;
    background : #0081e0;
    left: 45%;
    height: 1px;
    bottom: 0;
    transition: all .3s;
}
nav li a:hover:before {
    width: 100%;
    left:0;
}


/* -----------------------------------------------
   pankuzu
----------------------------------------------- */
.pankuzu {
    position: absolute;
    left: 3em;
    top: 3em;
}
.pankuzu img {
    width: 14px;
}
.pankuzu ul {
    position: relative;
    left: 25px;
    top: -10px;
    display: flex;
    font-size: 80%;
}
.pankuzu li::after {
    content: ">";
    margin: 5px;
}
.pankuzu li:last-child::after {
    display: none;
}


/* -----------------------------------------------
   footer
----------------------------------------------- */
footer .copyright {
	font-size: 0.5em;
    margin-top: 10%;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}