@charset "UTF-8";
/* CSS Document */

.box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    grid-gap: 15px;
    grid-auto-rows: minmax(290px, 290px);
}
.box-grid div {
    position: relative;
    background: url("../../img/logix.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    transition: 0.5s;
}
.box-grid div:hover {
}
.box-grid div::before {
    content: '';
    background: inherit;
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    transition: 0.5s;
}
.box-grid div:hover::before {
    filter: blur(0px);
    transform: scale(1.05)
}
.box-grid div:hover p {
    border: 1px solid #006AB8;
    background: #006AB8;
    color: #F4F4F5;
}
.box-grid p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 30px;
    color: #fff;
    padding: 0.8% 6% 0.5%;
    border-radius: 30px;
    border: 1px solid;
    background: rgba(0,0,0,0);
    letter-spacing: 0.07em;
    transition-duration: 0.5s;
}
.box-grid a {
    display: block;
    height: 100%;
    width: 100%;
}