@charset "UTF-8";
/* CSS Document */

.box-info {
    text-align: left;
    margin-bottom: 3em;
}
.box-check {
    display: flex;
    margin: auto;
    width: 560px;
    text-align: left;
    margin-bottom: 3em;
}
.box-check label {
    width: 25px;
}

.checkbox {
    display: none;
}
.checkbox-custum{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
}
.checkbox-custum::before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #707070;
    cursor: pointer;
}
.checkbox:checked + .checkbox-custum{
    color: #009a9a;
}
.checkbox:checked + .checkbox-custum::after{
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #006AB8;
    border-right: 3px solid #006AB8;
    cursor: pointer;
}

.box-button {
    display: flex;
    width: 560px;
    margin: auto;
    justify-content: space-evenly;
}
.box-button input {
    padding: 3px 6% 0;
    border-radius: 30px;
    border: 1px solid;
    background: rgba(0,0,0,0);
    letter-spacing: 0.07em;
    transition-duration: 0.5s;
    font-weight: 300;
    width: auto;
    color: #707070;
}
.box-button input:hover {
    border: 1px solid #006AB8;
    background: #006AB8;
    color: #F4F4F5;
}
/*
.box-button .btn-submit {
    pointer-events: none;
    opacity: 0.5;
}
.box-button .active {
    pointer-events: auto;
    opacity: 1;
}
*/
form table {
    margin-bottom: 3em;
}
form th {
    width: 150px;
    text-align: left;
}
form th div {
    border-bottom: 1px solid #707070;
    padding-bottom: 2px;
    font-weight: 500;
}
form td {
    width: 750px;
    padding: 1em 0;
    border-left: 1em solid #fff;
}
form td div {
    border-bottom: 1px solid #707070;
}
form input {
    border: none;
    background: none;
    width: 100%;
    color: #006AB8;
    font-weight: 500;
}
form textarea {
    width: 100%;
    height: 10em;
    background: none;
    border: 1px solid #707070;
    color: #006AB8;
    font-weight: 500;
}
.box-textarea {
    padding-top: 1em;
    display: inline-block;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #c7c7c7;
}input::-moz-placeholder , textarea::-moz-placeholder  {
    color: #c7c7c7;
}input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #c7c7c7;
}

/* -----------------------------------------------
   page-check
----------------------------------------------- */
.page-check p {
    margin-bottom: 3em;
}
.page-check form tr {
    border-bottom: 1px solid #707070;
}
.page-check form th {
    padding-top: 2em;
    padding-bottom: 0;
}
.page-check form td {
    font-weight: 500;
    padding-top: 2em;
    padding-bottom: 0;
    text-align: left;
}
